body{
font-family: Arial;
background:#f4f4f4;
margin:0;
}

header{
background:#ff5733;
color:white;
text-align:center;
padding:20px;
}

.container{
width:400px;
background:white;
padding:25px;
margin:40px auto;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h2{
text-align:center;
}

label{
display:block;
margin-top:15px;
font-weight:bold;
}

select{
width:100%;
padding:8px;
margin-top:5px;
}

.checkbox-group{
margin-top:10px;
}

.checkbox-group label{
display:block;
font-weight:normal;
}

button{
width:100%;
padding:12px;
margin-top:20px;
background:#ff5733;
color:white;
border:none;
font-size:16px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#e04e2b;
}